*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    /* width: 1440px;
    height: 100%;  */
    background-color:#F3E5D8;
    font-family: "Young Serif", serif;
    font-weight: 400;
    font-style: normal;
    
}

.main{
    width: 800px;
    height: 1440px;
    background-color:white;
    margin-top: 50px;
    margin-left: 350px;
    border-radius: 20px;
}
.main-heading{
    margin-left: 45px;
}
.omlete-para{
    margin-left: 45px;
}
p,li{
    font-size: 16px;
    color:grey;
    line-height: 29px;
}

span{
    font-weight: bold;
    color: rgb(112, 102, 102);
}

#omlet{
    width: 700px;
    height: 350px;
    margin:45px 45px 20px 45px;
    border-radius: 10px;
}

.preparation-section{
    width: 700px;
    height: 180px;
    background-color: #F3E5D8;
    margin:45px 45px 20px 45px;
    border-radius: 10px;
} 

.preparation-heading{
    margin-left: 15px;
    padding:20px;
    color:rgba(123, 38, 123, 0.874);
}

.preparation-list{

    margin: 0px 30px 10px 30px;
}

.ingredients-heading{
    margin-left: 45px;
    color:rgb(109, 39, 39);
}

.ingredients-list{
    margin-left: 40px;
    padding:20px;
}

.instruction-heading{
    margin-left: 45px;
    color:rgb(109, 39, 39);
}

.instruction-list{
    margin-left: 40px;
    padding:20px;
}

.nutrition-section{
    background-color: white;
}

.nutrition-heading{
    margin-left: 45px;
    color:rgb(109, 39, 39);
}

.nutrition-para{
    margin-left: 45px;
}
.nutrition-value{
    /* margin-left: 45px; */
    padding:20px;
    justify-content:inherit;
} 
.nutrition-items{
    margin-left: 20px;
}
.nutrition-amount{
    margin-left: 300px;
}

.amount{
    color:brown;
}
@media screen and (max-width:376px) {
    html,body{
        /* width: 376px;
        height: 1000px;  */
        background-color:none;
        font-family: "Young Serif", serif;
        font-weight: 400;
        font-style: normal;
        
    }
    
    .main{
        width: 376px;
        height: 500px;
        background-color:none;
        margin-top:0px;
        margin-left:0px;
        border-radius:0px;
        
    }
    .main-heading{
        margin-left: 15px;
    }
    .omlete-para{
        margin-left: 15px;
        margin-top:10px;
        line-height: 20px;
    }
    p,li{
        font-size: 12px;
        line-height: 20px;
        color:grey;
    }

    #omlet{
        width:402px;
        height: 200px;
        border-radius:0px;
        padding:0px;
        margin-left: -30px;
        margin-top: -30px;
        
    }

    .preparation-section{
        width: 375px;
        height: 120px;
        background-color: #F3E5D8;
        margin:30px 30px 20px 20px;
        border-radius: 10px;
    } 
    
    .preparation-heading{
        margin-left: 10px;
        padding:5px;
        font-size:18px;
        color:rgba(123, 38, 123, 0.874);
    }
    
    .preparation-list{
    
        margin: 10px 30px;
    }

    .ingredients-section{
        background-color:white;
    }
    
    .ingredients-heading{
        margin-left: 15px;
        color:rgb(109, 39, 39);
    }
    
    .ingredients-list{
        margin-left: 20px;
        padding:20px;
        line-height: 20px;
    }

    .instruction-section{
        background-color: white;
    }
    
    .instruction-heading{
        margin-left: 15px;
        color:rgb(109, 39, 39);
    }
    
    .instruction-list{
        margin-left: 10px;
        padding:20px;
        line-height: 20px;
    }
    .nutrition-section{
        background-color: white;
    }
    .nutrition-heading{
        margin-left: 15px;
        color:rgb(109, 39, 39);
    }
    
    .nutrition-para{
        margin-left: 15px;
    }
    .nutrition-value{
        /* margin-left: 45px; */
        padding:20px;
        justify-content:inherit;
    } 

    .nutrition-items{
        margin-left: 10px;
    }
    .nutrition-amount{
        margin-left: 100px;
    }
    
} 


    